.imageViewer {
    background-color: gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imageViewer__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    width: 100vw;
}

.controlMenu {
    bottom: 0;
    margin-bottom: 1rem;
}